<!-- include header-->
<%- include('include/_header')%>
<!-- /include header-->

<!-- Main Site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"> <i class="fas fa-angle-double-left"></i> Voir les employés</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Ajouter un employé</h2>
            <span class="text-light">Remplissez le formulaire suivant pour ajouter un employé</span>
        </div>
        <%- include('include/_form')%>
    </div>
</main>
<!-- /Main Site-->

<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->